<div class="row">
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <table class="table-bordered table-striped table-dark">
          <thead></thead>
          <td> Product Id </td>
          <td> Product Name </td>
          <td> Price </td>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.ProductId }}</td>
              <td>{{ product.ProductName }}</td>
              <td>{{ product.Price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <table class="table-bordered table-striped table-dark">
          <thead></thead>
          <td> Request Id </td>
          <td> Reminder Type</td>
          <td> Expiring on </td>
          <tbody>
            <tr *ngFor="let reminder of reminders">
              <td>{{ reminder.RequestId }}</td>
              <td>{{ reminder.ReminderType }}</td>
              <td>{{ reminder.ExpiringOn }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="text-white bg-success o-hidden h-100">
      <div class="card-body">
        <table class="table-bordered table-striped table-dark">
          <thead></thead>
          <td> Task Id </td>
          <td> Task Type </td>
          <td> Assigned On </td>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.TaskId }}</td>
              <td>{{ task.TaskType }}</td>
              <td>{{ task.AssignedOn }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="text-white bg-danger o-hidden h-100">
      <div class="card-body">
        <table class="table-bordered table-striped table-dark">
          <thead></thead>
          <td> Product Id </td>
          <td> Product Name </td>
          <td> Price </td>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.ProductId }}</td>
              <td>{{ product.ProductName }}</td>
              <td>{{ product.Price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>